*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
html{
    scroll-behavior: smooth;
}

a{
    
}

#landing, #about{
    height: 100vh;
}

/* Dark background color:#252934, Light Blue: #04c2c9, Pink: #e31b6d */

#landing{
    background-color: #252934;
    color: white;
    font-size: 32pt;
    line-height: 36pt;
    text-align: center;
    position: relative;
}


#about{
    background-color: white;
}

.arrow{
    transition: 0.5s;
    fill: white;
    height: 20px;
    width: 20px;
    margin-left: 10px;
}

.btn-light{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: inherit;
    border: solid white 2px;
    text-decoration: none;
    margin-top: 10px;
    padding: 0px 5px 0px 5px;
    transition: 0.5s;
    cursor: pointer;
    font-size: 16pt;
}

.btn-light:hover{
    background-color: #04c2c9;
    border-color: #04c2c9;
}

.btn-light:hover .arrow{
    transform: rotate(90deg);
}

.canvas{
    z-index: 1;
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.name{
    color: #e31b6d;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landingText{
    z-index: 2;
    position: absolute;
    opacity: 1;
}
.overHidden{
    overflow-x: hidden;
}
.text-1{
    z-index: 2;
    position: absolute;
    font-size: inherit;
    line-height: inherit;
    opacity: 0;
}
.text-2{
    font-size: inherit;
    line-height: inherit;
    z-index: 2;
    opacity: 0;
}
.text-3{
    opacity: 0;
    background-color: #252934;
}

